@import "@radix-ui/colors/blackA.css";
@import "@radix-ui/colors/mauve.css";
@import "@radix-ui/colors/violet.css";
@import "@radix-ui/colors/sand.css";
@import "@radix-ui/colors/green.css";
@import "@radix-ui/colors/blue.css";
@import "@radix-ui/colors/red.css";

$copy-color: var(--sand11);

$accent-color: var(--blue11);
$accent-color-12: var(--blue12);
$accent-color-11: var(--blue11);
$accent-color-9: var(--blue9);
$accent-color-7: var(--blue7);
$accent-color-5: var(--blue5);
$accent-color-4: var(--blue4);
$accent-color-3: var(--blue3);
$accent-color-1: var(--blue1);

// $accent-color: var(--violet11);
// $accent-color-12: var(--violet12);
// $accent-color-11: var(--violet11);
// $accent-color-9: var(--violet9);
// $accent-color-7: var(--violet7);
// $accent-color-4: var(--violet4);
// $accent-color-3: var(--violet3);
// $accent-color-1: var(--violet1);

$background-accent-color-12: var(--mauve12);
$background-accent-color-11: var(--mauve11);
$background-accent-color-8: var(--mauve8);
$background-accent-color-6: var(--mauve6);
$background-accent-color-3: var(--mauve3);

$blackA9: var(--blackA9);
$blackA7: var(--blackA7);
$blackA5: var(--blackA5);
$blackA4: var(--blackA4);

$background-color: var(--sand11);
$background-color-11: var(--sand11);
$background-color-6: var(--sand6);
$background-color-3: var(--sand3);
$background-color-1: var(--sand1);

$green6: var(--green6);

$red11: var(--red11);
