.MainContainer {
  margin: 0 auto;
  max-width: 95vw;
  width: 650px;

  h3 {
    margin: 1em auto;
    width: fit-content;
    padding-top: 20px;
  }

  p {
    line-height: 1.3em;
    &.Bold {
      font-weight: bold;
    }
  }
}
