@import "@radix-ui/colors/cyan.css";
@import "@radix-ui/colors/mauve.css";
@import "@radix-ui/colors/indigo.css";
@import "@radix-ui/colors/sand.css";

.AppContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .AppHeaderBlock {
    color: var(--sand11);
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    box-shadow: 0px 3px 10px var(--sand6);
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: white;
    h1 {
      font-size: 1.2em;
      text-transform: uppercase;
      font-stretch: condensed;
      width: 15%;
      margin: 0;
      transform: translateX(10px);
    }
    h2 {
      font-size: 0.8em;
      margin: 0;
    }
    .MenuPositioner {
      width: 15%;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: translateX(-10px);
    }
  }

  .MainContainer {
    margin: 0 auto;
    max-width: 95vw;
    width: 1100px;

    .DatasetSelector {
      margin: 30px auto 40px;
      display: block;
    }
  }
}
