@import "@radix-ui/colors/mauve.css";

.DialogTrigger {
  all: unset;
  cursor: pointer;
  display: block;
  margin: 5px 0;
  border: 1px solid var(--mauve12);

  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  padding: 0 5px;
  font-weight: 500;
}
