@use "./_variables.scss" as var;

.SelectTrigger {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 13px;
  line-height: 1;
  height: 35px;
  gap: 5px;
  background-color: white;
  color: var.$accent-color;
  box-shadow: 0 2px 10px var.$blackA7;
  button {
    all: unset;
  }
  cursor: pointer;
}
.SelectTrigger:hover {
  background-color: var.$background-accent-color-3;
}
.SelectTrigger:focus {
  box-shadow: 0 0 0 2px black;
}
.SelectTrigger[data-placeholder] {
  color: var.$accent-color-9;
}

.SelectIcon {
  color: var.$accent-color;
}

.SelectContent {
  overflow: hidden;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0px 10px 38px -10px rgba(22, 23, 24, 0.35),
    0px 10px 20px -15px rgba(22, 23, 24, 0.2);
}

.SelectViewport {
  padding: 5px;
}

.SelectItem {
  font-size: 13px;
  line-height: 1;
  color: var.$accent-color;
  border-radius: 3px;
  display: flex;
  align-items: center;
  height: 25px;
  padding: 0 35px 0 25px;
  position: relative;
  user-select: none;
}
.SelectItem[data-disabled] {
  color: var.$background-accent-color-8;
  pointer-events: none;
}
.SelectItem[data-highlighted] {
  outline: none;
  background-color: var.$accent-color-9;
  color: var.$accent-color-1;
}
