@use "./_variables.scss" as var;

.MessagesContainer {
  margin: 0 auto;
  width: fit-content;
  font-size: 13px;
  color: var.$copy-color;

  .Error {
    color: var.$red11;
  }
}

.DatasetInfoContainer {
  h3,
  h4,
  p {
    margin: 10px 0;
    font-size: 0.8em;
    &.Bold {
      font-weight: bold;
    }
  }
}
