.IndexDataListContainer {
  text-align: "left";
  // font-size: 9px;

  .NumItemsContainer {
    font-size: 0.8em;
    font-weight: bold;
    margin-top: 20px;
  }

  .CheckboxGroupContainer {
    display: flex;
    margin-bottom: 25px;

    > * {
      margin-right: 10px;
    }
  }
}
