@import "@radix-ui/colors/sand.css";

.AppHeaderBlock {
  color: var(--sand11);
  width: 100%;
  display: inline-block;
  height: 50px;
  box-shadow: 0px 3px 10px var(--sand6);
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: white;
  > * {
    position: absolute;
  }
  h1 {
    font-size: 1.2em;
    text-transform: uppercase;
    font-stretch: condensed;
    margin-left: 10px;
  }
  h2 {
    font-size: 0.8em;
    margin: 0;
    margin-left: 50%;
    transform: translateX(-50%);
    line-height: 50px;
  }
  .MenuPositioner {
    display: flex;
    align-items: center;
    justify-content: center;
    right: 10px;
    height: 100%;
  }
}
